# Dependencies
node_modules/

# Production build outputs
dist/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Logs
*.log
npm-debug.log*

# User app data / temporary files
custom_sounds/
soundboard-config.json
*.tmp
